.task-1 {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.error {
  color: red;
}

.task-2 {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  margin-top: 30px;
}

.task-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  margin-top: 30px;
}

p {
  margin: 0;
}
